<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Signup</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='signup.css')}}" />
</head>
<body>
  <div class="background-shapes">
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
  <div class="container">
    <div class="signup">
      <h2>Signup</h2>
      <form action="" method="POST" autocomplete="off">
        <div class="input-box">
          <input type="text" name="full_name" required />
          <span class="floating-label">Full Name</span>
        </div>
        <div class="input-box">
          <input type="text" name="username" required />
          <span class="floating-label">Username</span>
        </div>
        <div class="input-box">
          <input type="date" name="dob" required />
          <span class="floating-label">Date of Birth</span>
        </div>
        <div class="input-box">
          <input type="email" name="email" required />
          <span class="floating-label">Email</span>
        </div>
        <div class="input-box password-box">
          <input type="password" id="password" name="password" required />
          <span class="floating-label">Password</span>
          <img src="{{url_for('static', filename='image/eye.png')}}" id="togglePassword" onclick="togglePasswordVisibility(this, 'password')"/>
        </div>
        <div class="input-box password-box">
          <input type="password" id="retypePassword" name="retypePassword" required />
          <span class="floating-label">Re-enter Password</span>
          <img src="{{url_for('static', filename='image/eye.png')}}" id="toggleRePassword" onclick="togglePasswordVisibility(this, 'retypePassword')"/>
        </div>
        <ul id="password-strength">
          
        </ul>
        <div class="button">
          <button type="submit">Register</button>
        </div>
        <div class="foot">
          <p>Already have an account? <a href="/login">Login</a></p>
        </div>
      </form>
    </div>
  </div>
<script>
    const password = document.getElementById('password');
  const passwordStrength = document.getElementById('password-strength');
  const retype_password = document.getElementById('retypePassword');
  

  function togglePasswordVisibility(iconElement, passwordFieldId) {
    const passwordField = document.getElementById(passwordFieldId);
    const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
    passwordField.setAttribute('type', type);

    if (type === 'password') {
      iconElement.src = "{{url_for('static', filename='image/eye.png')}}"; 
    } else {
      iconElement.src = "{{url_for('static', filename='image/hide.png')}}";
    }
  }

  password.addEventListener('keyup', function () {
    const passwordValue = password.value;
    console.log(passwordValue);

    const hasSmallChar = /[a-z]/.test(passwordValue);
    const hasUpperChar = /[A-Z]/.test(passwordValue);
    const hasNumber = /[0-9]/.test(passwordValue);
    const hasSpecialChar = /[~!@#$%^&*()_+\-=\|?<>,.{}\/]/.test(passwordValue);

    if (passwordValue.length < 8) {
      passwordStrength.innerHTML = `<li class="weak-password">Weak: Must be at least 8 characters long</li>`;
    } 
    
    else if (hasSmallChar && hasUpperChar && hasNumber && hasSpecialChar) {
      passwordStrength.innerHTML = `<li class="strong-password">Strong</li>`;
    } 
    
    else {
      let feedback = "Medium: ";
      if (!hasSmallChar) feedback += "Needs lowercase. ";
      if (!hasUpperChar) feedback += "Needs uppercase ";
      if (!hasSpecialChar) feedback += "Needs a special character ";
      if (!hasNumber) feedback += "Needs a number ";
      passwordStrength.innerHTML = `<li class="medium-password">${feedback}</li>`;
    }
  });

  retype_password.addEventListener('keyup', function () {
    if (retype_password.value !== password.value) {
      retype_password.setCustomValidity('Password does not match');
    } else {
      retype_password.setCustomValidity('');
    }
  });
</script>
</body>
</html>
